{% extends 'base.html.twig' %}

{% block body %}
 <h1>{{ author }}</h1>
 <p>Né(e) le : {{ author.dateOfBirth | date('d/m/Y') }}</p>

 <h2>Ses éditeurs</h2>

 <!-- tableau des éditeurs qui ont publié l'auteur (avec le nombre de livres) -->
 <table class="table table-striped">
  <tr>
   <th>Editeur</th>
   <th>Nombre de livres</th>
  </tr>

  {% for publisher in publisherList %}
    <tr>
     <td>{{ publisher.name }}</td>
     <td>{{ publisher.nbBooks }}</td>
    </tr>
  {% endfor %}
 </table>

 <h2>Ses livres ({{ author.books | length }})</h2>

 <table class="table table-striped">
  <tr>
   <th>Titre</th>
   <th>Editeur</th>
   <th>Genre</th>
  </tr>

  {% for book in author.books %}
    <tr>
     <td>{{ book.title }}</td>
     <td>
      <a href="{{ path('publisher-details', {'id': book.publisher.id}) }}">
       {{ book.publisher.name }}
      </a>
     </td>
     <td> {{ book.genre }}</td>
    </tr>
  {% endfor %}

 </table>
{% endblock %}

{% block title %}

{% endblock %}

