{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(bookForm) }}

        {% if not bookForm.vars.valid %}
            <div class="alert alert-danger mt-4 mb-2">
                {{ form_errors(bookForm) }}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(bookForm.title) }}
            </div>
            <div class="col-md-6">
                {{ form_row(bookForm.author) }}
            </div>
            <div class="col-md-3">
                {{ form_row(bookForm.price) }}
            </div>
            <div class="col-md-3">
                {{ form_row(bookForm.genre) }}
            </div>
            <div class="col-md-3">
                {{ form_row(bookForm.publisher) }}
            </div>
            <div class="col-md-3">
                {{ form_row(bookForm.publishedAt) }}
            </div>


        </div>


    {{ form_end(bookForm) }}


{% endblock %}

{% block title %}

{% endblock %}

